@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 1rem;
}
body {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	line-height: 1.4;
	padding: 10px 0;
}
ul > li {
  /* margin-left: 20px; */
  font-size: 0.8rem;
  list-style: disc;
}
.my-list > li ul > li {
	margin-left: 20px;
}
.prescription__right-side {
	margin-left: 20px;
}
.information-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bottom-info ul > li {
	display: grid;
	grid-template-columns: 60px 1fr;
}
.prescription-img img {
	width: 7%;
	position: relative;
	bottom: 35px;
	right: 25px;
}
.bottom-signature-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid black;
}
.bottom-signature-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-bottom: 2px solid black;
	font-weight: 600;
}
.prescription-img {
  position: absolute;
}
.information-container .doctor-profile ul > li {
  font-weight: 500;
  padding: 2px 0;
  list-style: none;
  margin: 0;
}
.information-container .hospital-logo img {
  width: 100%;
  max-width: 220px;
}
.barcode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}

.barcode .barcode-img img {
	width: 180px;
	max-height: 24px;
	object-fit: fill;
}
.bottom-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid black;
}
.bottom-info-container .bottom-info ul > li {
  padding: 1px 0px;
  font-weight: 600;
  list-style: none;
  margin: 0;
}
.footer-info ul > li {
  list-style: none;
  margin: 0;
}
/* .prescription__left-side ul {
  list-style: none;
} */
.bottom-info-container .bottom-info .bottom-info__text {
  font-weight: 400;
  margin-left: 5px;
}
.bottom-left-info-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 8rem;
}
.bottom-info-right-side ul > li p:first-child {
	font-weight: 600;
}
.age-info {
	display: grid;
	grid-template-columns: 60px 1fr;
}
.bottom-info-right-side ul > li {
	display: grid;
	grid-template-columns: 80px 1fr;
}

.prescription-body-container {
	margin-top: 45px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.border-span {
	border-left: 2px solid black;
	min-height: 570px;
	max-height: 620px;
}
.right-pres-container {
  /* position: relative; */
  display: flex;
}

.signature-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  /* border-bottom: 2px solid black; */
  margin-top: 30px;
}
ul.my-list > li {
  list-style: none;
}
.medicine-routine {
  display: flex;
  gap: 0.5rem;
}

.footer-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-info ul > li {
	list-style: none;
	font-weight: 600;
}
.bottom-info__text {
	font-weight: 400;
}
.prescribed-medicine .medicine-name {
	font-weight: 600;
}
.footer-area-address {
	display: flex;
	gap: 0.3rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}