@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 0.9rem;
}
strong {
  font-weight: 500;
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  text-transform: capitalize;
}
.d-flex {
  display: flex;
}
.flex-d-c {
  flex-direction: column;
}
.j-c-e {
  justify-content: end;
}
.j-c-c {
  justify-content: center;
}
.j-c-sa {
  justify-content: space-around;
}
.j-c-sb {
  justify-content: space-between;
}
.a-i-c {
  align-items: center;
}
.barcode img {
  width: 200px;
  height: 28px;
  object-fit: fill;
}
.header__logo img {
  width: 200px;
}
.header-text {
  border: 1px solid black;
  padding: 5px;
  width: 40%;
  text-align: center;
}
.header-text h3 {
  font-weight: 600;
  font-size: 1.25rem;
}
.patient-details ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-patient-container {
  border-bottom: 1px solid black;
  padding: 6px 0;
}

ul > li > h3 {
  border-bottom: 1px dashed black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 15px;
}
.Weight-container .container-itemm-list {
  display: grid;
  grid-template-columns: 200px auto;
}
.history-examination li:first-child ul > li {
  margin-left: 25px;
  list-style: disc;
}
.container-itemm-list p:first-child {
  margin-top: 4px;
}
.prescription-img img {
  width: 25px;
}
.medicin-list > li {
  margin-left: 16px;
  list-style: decimal;
  margin-bottom: 5px;
}
.medicine-routine {
  gap: 1rem;
}
.advice > li {
  margin-left: 15px;
  list-style: disc;
}
.signature-section-container {
  margin-top: 50px;
}
.signature-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-wrap: anywhere;
  gap: 2rem;
}
.signature-item .dashed {
  border-bottom: 1px dashed black;
}
.footer-address-section {
  margin-top: 20px;
  border-top: 1px solid black;
}
.footer-address-info h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.address-info__all {
  gap: 0.5rem;
}
