@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 0.9rem;
}
strong {
  font-weight: 500;
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 10px 30px;
}
.d-flex {
  display: flex;
}
.flex-d-c {
  flex-direction: column;
}
.j-c-e {
  justify-content: end;
}
.j-c-c {
  justify-content: center;
}
.j-c-sa {
  justify-content: space-around;
}
.j-c-sb {
  justify-content: space-between;
}
.a-i-c {
  align-items: center;
}
.header-container__logo img {
  width: 180px;
  object-fit: fill;
}
.__headline-barcode img {
  width: 170px;
}
.__ptinfo-invoice ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.__ptinfo-patient-details {
  gap: 5rem;
}
.header-container__ptInfo {
  border: 1px solid black;
  padding: 10px;
  font-weight: 500;
}
.header-container__testInfo {
  border: 1px solid black;
  margin-top: 5px;
  padding: 5px;
}
.measurement-container {
  flex-wrap: wrap;
  gap: 0.8rem;
}
.measurement-item {
  gap: 5rem;
  flex: wrap;
}
.power {
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  left: -352px;
  gap: 80px;
}
.page_22 {
  position: relative;
}
.page_22 .power {
  top: 40%;
  bottom: inherit;
}
.page_22 {
  position: relative;
}
.header-grid-report {
	display: grid !important;
	grid-template-columns: 73px 100px !important;
}
.power__bar-code {
  width: 170px;
  display: flex;
}
.power__bar-code img {
  max-width: 100%;
}
.measure-container__item {
  display: grid;
  grid-template-columns: 65% 35%;
}
.grid-row {
  display: grid;
  grid-template-columns: 50% auto;
}
.impression-section ul > li h3 {
  text-decoration: underline;
  font-weight: 600;
}
.impression-item {
  display: grid;
  grid-template-columns: 50% auto;
}
.others-section ul > li h5 {
  text-decoration: underline;
  font-weight: 600;
}
ul.list-remover > li {
  list-style: none !important;
}
.others-section ul > li {
  list-style: disc;
  margin-left: 30px;
  font-weight: 500;
}
.footer-address-info {
  margin-top: 50px;
}
.measure-container__box {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0 6px;
}
.address-info__all {
  font-size: 0.8rem;
}
.__ptinfo-invoice ul {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.__ptinfo-invoice ul > li {
  display: grid;
  grid-template-columns: 126px 1fr;
}
.__ptInfo-patinent {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.age {
  display: grid;
  grid-template-columns: 38px 1fr;
}
.gender {
  display: grid;
  grid-template-columns: 64px 1fr;
}
.__ptInfo-patient-name {
  display: grid;
  grid-template-columns: 127px 1fr;
}
.__ptinfo-doctor-info {
  display: grid;
  grid-template-columns: 127px 1fr;
}
.impression-section ul > li {
  margin-bottom: 4px;
}
.impression-section ul > li:first-child {
  margin-top: 3px;
}
.header-grid {
  display: grid !important;
  grid-template-columns: 96px 1fr !important;
}
.header-container {
  font-size: 0.8rem;
}
.footer-address-section {
  position: fixed;
  bottom: 0;
  width: 100%;
}
